<!-- stats - count particles -->

<nav class="navbar-expand-dark navbar-danger bg-dark" id="menu">
    <div class="container-fluid d-flex justify-content-center">
        <a id="tab" href="" class="navbar-brand text-black-50 m-3" href="https://platform.opentable.com/documentation/" target="blank">
            <i class="fas fa-info"> </i> More info</a>
    </div>

    <div class="container-fluid d-flex justify-content-end">
        <a id="tab" href="" class="alert-danger" (click)="servicio.logout()">
            <i class="fas fa-exit"> </i> Salir</a>
    </div>
</nav>